version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:80
    networks:
      - app-network
      - cadvisor
    cadvisor:
      image: google/cadvisor:latest
      ports:
        - '8080:8080'
      volumes:
        - '/:/rootfs:ro'
        - '/var/run:/var/run:rw'
        - '/sys:/sys:ro'
        - '/var/lib/docker:/var/lib/docker:ro'
      networks:
        - app-network

    networks:
      app-network: