version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:80
#  prometheus:
#    image: prom/prometheus
#    ports:
#      - 9090:9090
#    volumes:
#      - ./prometheus:/etc/prometheus
# grafana:
#    image: grafana/grafana
#    ports:
#      - 3000:3000
    networks:
      - app-network

    cadvisor:
      image: google/cadvisor:latest
      ports:
        - '8080:8080'
      volumes:
        - '/:/rootfs:ro'
        - '/var/run:/var/run:rw'
        - '/sys:/sys:ro'
        - '/var/lib/docker:/var/lib/docker:ro'
      networks:
        - app-network

    networks:
      app-network: